@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root{
	--mygrey: #1C1C1C;
	--mygreylight: #363636;
	--myblack: #0c0c0c;
	--myred: #d22d24;
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	scroll-behavior: smooth;
	overflow-x: hidden;
	overflow-y: auto;
}

body{
	background-color: var(--myblack);
}

.hl-header{
	height: 9vh;
	width: 100%;
	font-size: 28px;
	background: #0c0c0c;
	color: white;
	text-align: left;
	padding: 20px;
	/*position: fixed;*/
	display: flex;
	justify-content: space-between;
	/*text-shadow: 2px 2px #d63031;*/
	cursor: pointer;
}

.hl-header .header-title{
	color:var(--myred);
	overflow-y: hidden;
}

.hl-header .hl-menu{ /*Menu lateral canto superior direito*/
	margin-top: 10px;
	column-count: 2;
}

.hl-header .hl-menu div{ /*Itens do menu */
	display: table-row;
}
.hl-header .hl-menu div a{ /*Itens do menu na tag*/
	color: white;
	font-size: 20px;
	margin: 27px;
	text-decoration: none;
	background-color: var(--myred);
	padding: 12px;
	width: 35px;
	border-radius: 4px;
}

main{
	margin: 0;
	padding: 0;
	height: auto;
}

.table-songs{
	display: flex;
	justify-content: center;
	background-color: white;
	width: auto;
	margin: 100px;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	border-spacing: 30px;
}

table tr th{
	border: 1px solid red;
	width: 300px;
	border-right-style: hidden ;
	border-left-style: hidden;
}

.modal-styled{
	height: 50vh;
	width: 60vh;
}

.modal-styled div{
	display: flex;
	justify-content: center;
	margin: 20px;
}

.modal-styled div input{
	outline: none;
	border: solid 1px var(--myblack);
	padding: 15px;
	border-radius: 5px;
}

.modal-styled div button{
	outline: none;
	padding: 10px;
	cursor: pointer;
	background-color: var(--myred);
	color: whitesmoke;
	border: hidden;
	border-radius: 5px;
	font-size: 15px;
	margin-top: 50px;
}

.modal-styled a{
	margin: 15px;
}







